@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.App {
  padding: 15px;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.btn {
  width: 200px;
  border-radius: 5px; 
  font-size: 15px;
  font-weight: 600; 
  letter-spacing: 1px;
  padding: 8px;
}

.btn-success {
  background-color: #9ff4c9;
  border: 1px solid #9ff4c9;
  color: #3b9668;
}

.btn-success:hover {
  background-color: #95e4bd;
  border: 1px solid #95e4bd; 
  cursor: pointer;
}

.input {
  width: 250px;
  height: 25px;
  margin: 15px 15px 15px 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.title {
  letter-spacing: 1px;
  font-weight: 600;
}

.update-input {
  border: none;
}

.input-label {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  width: 400px;
}

.contact-column-size {
    width: 400px;
}

.btn-icon {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 22px;
}

.btn-edit {
  color: #419d6c;
}

.btn-delete {
  color: #9d4141;
}

.align-items-center {
  align-items: center;
}